@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans");
}

/* line 12, ../../Portfolio/Design_Architecture/scss/main.scss */
* {
  font-family: Open Sans, sans-serif;
  transition: all 0.5s;
  box-sizing: border-box;
}

/* line 18, ../../Portfolio/Design_Architecture/scss/main.scss */
h1, h2, h3 {
  margin: 0;
  padding: 60px 0;
}

/* line 23, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-container {
  width: 1280px;
  margin: 0 auto;
}

/* line 28, ../../Portfolio/Design_Architecture/scss/main.scss */
.titleFontSize {
  font-size: 27px;
}

/* line 32, ../../Portfolio/Design_Architecture/scss/main.scss */
.secondaryFontSize {
  font-size: 18px;
}

/* line 36, ../../Portfolio/Design_Architecture/scss/main.scss */
.header {
  background-color: #1d2124;
}

/* line 40, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* line 45, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo {
  text-decoration: none;
  width: 30px;
  fill: #ffffff;
}

/* line 49, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo .header__logo-img {
  height: 100%;
  color: #ffffff;
}

/* line 53, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo:hover {
  fill: #14b9d5;
}

/* line 57, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  color: #ffffff;
  padding: 25px;
}

/* line 65, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__link:hover {
  color: #14b9d5;
}

/* line 69, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-wrap {
  width: 30px;
}

/* line 72, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-icon {
  fill: #ffffff;
}

/* line 74, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-icon:hover {
  cursor: pointer;
  fill: #14b9d5;
}

/* line 83, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px;
  background-image: url("../img/wallpapers.jpg");
  background-size: cover;
  background-position: right bottom -65%;
  background-attachment: fixed;
  position: relative;
}

/* line 95, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* line 107, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__title {
  padding-bottom: 40px;
  font-weight: 400;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
}

/* line 115, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__buttons-wrap {
  display: flex;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
}

/* line 122, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 170px;
  border-radius: 8px;
  margin: 0 auto;
}

/* line 130, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__button:hover {
  cursor: pointer;
  font-size: 20px;
}

/* line 136, ../../Portfolio/Design_Architecture/scss/main.scss */
.button-subscribe {
  background-color: #89ca62;
  margin-right: 20px;
}

/* line 141, ../../Portfolio/Design_Architecture/scss/main.scss */
.button-articles {
  background-color: #14b9d5;
}

/* line 147, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

/* line 153, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__title {
  display: inline-block;
  color: #14b9d5;
  text-transform: uppercase;
}

/* line 159, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection {
  height: 910px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* line 168, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item {
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 700;
}

/* line 172, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(1) {
  order: 1;
  margin-bottom: 30px;
}

/* line 176, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(2) {
  order: 3;
  margin: 0 30px 30px 30px;
}

/* line 180, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(3) {
  order: 5;
  margin-bottom: 30px;
}

/* line 184, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(4) {
  order: 2;
}

/* line 187, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(5) {
  order: 4;
  margin: 0 30px 0 30px;
}

/* line 191, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item:nth-child(6) {
  order: 6;
}

/* line 196, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__subtitle {
  display: inline-block;
  padding: 20px;
}

/* line 203, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  background-image: url("../img/Layer_4.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

/* line 214, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 1;
}

/* line 227, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients__title {
  margin-bottom: 120px;
  padding: 0;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

/* line 235, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients__title:after {
  content: "";
  display: block;
  width: 60px;
  border-top: 3px solid #14b9d5;
  position: absolute;
  top: 95px;
  right: calc(50% - 30px);
  z-index: 2;
}

/* line 247, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  z-index: 2;
}

/* line 256, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients__item {
  margin-right: 75px;
}

/* line 258, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-clients__item:nth-last-child {
  margin-right: 0;
}

/* line 263, ../../Portfolio/Design_Architecture/scss/main.scss */
.top-collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  color: #14b9d5;
  text-transform: uppercase;
  position: relative;
}

/* line 272, ../../Portfolio/Design_Architecture/scss/main.scss */
.top-collection:after {
  content: '\A';
  background-image: url("../img/slider/bac.jpg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

/* line 287, ../../Portfolio/Design_Architecture/scss/main.scss */
.empty {
  height: 200px;
}

/*# sourceMappingURL=main.css.map */