@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans");
}

/* line 12, ../../Portfolio/Design_Architecture/scss/main.scss */
* {
  font-family: Open Sans, sans-serif;
  transition: all 0.5s;
  box-sizing: border-box;
}

/* line 18, ../../Portfolio/Design_Architecture/scss/main.scss */
h1, h2, h3 {
  margin: 0;
}

/* line 22, ../../Portfolio/Design_Architecture/scss/main.scss */
.container {
  width: 1280px;
  margin: 0 auto;
}

/* line 27, ../../Portfolio/Design_Architecture/scss/main.scss */
.titleFontSize {
  font-size: 27px;
}

/* line 31, ../../Portfolio/Design_Architecture/scss/main.scss */
.secondaryFontSize {
  font-size: 18px;
}

/* line 35, ../../Portfolio/Design_Architecture/scss/main.scss */
.header {
  background-color: #1d2124;
}

/* line 39, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* line 44, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo {
  text-decoration: none;
  width: 30px;
  fill: #ffffff;
}

/* line 48, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo .header__logo-img {
  height: 100%;
  color: #ffffff;
}

/* line 52, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__logo:hover {
  fill: #14b9d5;
}

/* line 56, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  display: inline-block;
  color: #ffffff;
  padding: 25px;
}

/* line 64, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__link:hover {
  color: #14b9d5;
}

/* line 68, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-wrap {
  width: 30px;
}

/* line 71, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-icon {
  fill: #ffffff;
}

/* line 73, ../../Portfolio/Design_Architecture/scss/main.scss */
.header__header-wrap .header__search-icon:hover {
  cursor: pointer;
  fill: #14b9d5;
}

/* line 82, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 390px;
  background-image: url("../img/wallpapers.jpg");
  background-size: cover;
  background-position: right bottom -65%;
  background-attachment: fixed;
  position: relative;
}

/* line 94, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* line 106, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__title {
  padding: 140px 0 40px;
  font-weight: 400;
  color: #ffffff;
  z-index: 2;
  text-transform: uppercase;
}

/* line 114, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__buttons-wrap {
  display: flex;
  z-index: 2;
  color: #ffffff;
  font-weight: 400;
}

/* line 121, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 170px;
  border-radius: 8px;
  margin: 0 auto;
}

/* line 129, ../../Portfolio/Design_Architecture/scss/main.scss */
.main-block__button:hover {
  cursor: pointer;
  font-size: 20px;
}

/* line 135, ../../Portfolio/Design_Architecture/scss/main.scss */
.button-subscribe {
  background-color: #89ca62;
  margin-right: 20px;
}

/* line 140, ../../Portfolio/Design_Architecture/scss/main.scss */
.button-articles {
  background-color: #14b9d5;
}

/* line 146, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post {
  text-align: center;
  background-color: #f2f2f2;
  padding: 60px 0;
}

/* line 152, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__title {
  display: inline-block;
  margin-bottom: 55px;
  color: #14b9d5;
  text-transform: uppercase;
}

/* line 159, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 800px;
}

/* line 165, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(1) {
  background-color: red;
  order: 1;
  margin-bottom: 30px;
}

/* line 170, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(2) {
  order: 0;
}

/* line 173, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(3) {
  order: 5;
  margin: 0 30px 30px 30px;
}

/* line 177, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(4) {
  order: 4;
}

/* line 180, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(5) {
  order: 6;
  margin-bottom: 30px;
}

/* line 184, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(6) {
  order: 0;
}

/* line 189, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__item {
  background-color: #ffffff;
}

/* line 193, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__collection:nth-child(1) popular-post__item {
  background-color: red;
}

/* line 197, ../../Portfolio/Design_Architecture/scss/main.scss */
.popular-post__subtitle {
  display: inline-block;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */