@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans");
};

$fontFamily: Open Sans, sans-serif;
$secondarySizeFont: 18px;
$mainColor: #14b9d5;
$secondaryColor: #ffffff;
$iconMainSize: 30px;

* {
  font-family: $fontFamily;
  transition: all 0.5s;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 60px 0;
}

.main-container {
  width: 1280px ;
  margin: 0 auto;
}

.titleFontSize {
  font-size: 27px;
}

.secondaryFontSize {
  font-size: 18px;
}

.header {
  background-color: #1d2124;
}

.header__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  .header__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    color: $secondaryColor;
    padding: 25px;
    &:hover {
      color: $mainColor;
    }
  }
  .header__search-wrap{
    width: $iconMainSize;
  }
  .header__search-icon {
   fill: $secondaryColor;
    &:hover {
      cursor: pointer;
      fill: $mainColor;
    }
  }
}

.logo {
  text-decoration: none;
}

// Title block

.main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 130px;

  background-image: url("../img/wallpapers.jpg");
  background-size: cover;
  background-position: right bottom -65%;;
  background-attachment: fixed;

  position: relative;
  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
  }
}

.main-block__title {
  padding-bottom: 40px;
  font-weight: 400;
  color: $secondaryColor;
  z-index: 2;
  text-transform: uppercase;
}

.main-block__buttons-wrap {
  display: flex;
  z-index: 2;
  color: $secondaryColor;
  font-weight: 400;
}

.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 170px;
  border-radius: 8px;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
    font-size: 20px;
  }
}

.button-subscribe {
  background-color: #89ca62;
  margin-right: 20px;
}

.button-articles {
  background-color: $mainColor;
}

// Popular post block

.popular-post {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 60px;
}

.popular-post__title {
  display: inline-block;
  color: $mainColor;
  text-transform: uppercase;
}

.popular-post__collection {
  height: 910px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.popular-post__item {
  background-color: $secondaryColor;
  cursor: pointer;
  font-weight: 700;
  &:nth-child(1) {
    order: 1;
    margin-bottom: 30px;
  }
  &:nth-child(2) {
    order: 3;
    margin: 0 30px 30px 30px;
  }
  &:nth-child(3) {
    order: 5;
    margin-bottom: 30px;
  }
  &:nth-child(4) {
    order: 2;
  }
  &:nth-child(5) {
    order: 4;
    margin: 0 30px 0 30px;
  }
  &:nth-child(6) {
    order: 6;
  }
}

.popular-post__subtitle {
  display: inline-block;
  padding: 20px;
}

//Popular clients block

.popular-clients {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;

  background-image: url("../img/Layer_4.png");
  background-size: cover;
  background-attachment: fixed;

  position: relative;
  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 1;
  }
}

.popular-clients__title {
  margin-bottom: 120px;
  padding: 0;
  font-size: 32px;
  text-transform: uppercase;
  color: $secondaryColor;
  position: relative;
  z-index: 2;
  &:after {
    content: "";
    display: block;
    width: 60px;
    border-top: 3px solid $mainColor;
    position: absolute;
    top: 95px;
    right: calc(50% - 30px);
    z-index: 2;
  }
}

.popular-clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  z-index: 2;
}

.popular-clients__item {
  margin-right: 75px;
  &:nth-last-child{
    margin-right: 0;
  }
}

.top-collection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;

  color: $mainColor;
  text-transform: uppercase;
  position: relative;
  &:after {
    content: '';
    background-image: url("../img/slider/bac.jpg");
    background-size: cover;
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0.7;
    z-index: -1;
  }
}

// Hot news SECTION

.hot-news {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

.hot-news-title {
  margin-bottom: 50px;
  padding: 0;
  text-transform: uppercase;
  color: $mainColor;
}

.hot-news__news-collection {
  display: grid;
  margin-bottom: 70px;
}

.hot-news__row {
  margin-bottom: 40px;
  &:nth-child(1) {
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 3fr 1fr ;
    grid-gap: 30px;
  }
  &:nth-child(2) {
    display: grid;
    grid-template-rows: 420px;
    grid-template-columns: auto auto;
    grid-gap: 60px;
  }
  &:nth-child(3) {
    display: grid;
    grid-template-rows: 420px;
    grid-template-columns: auto auto;
    grid-gap: 60px;
  }
  &:nth-child(4) {
    display: grid;
    grid-template-rows: 260px;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;

    margin-bottom: 0;
  }
}

.hot-news__img {
  height: 100%;
  background-size: cover;
}

.hot-news__wrap-text {
  text-align: right;
  background-color: #f9f7f7;
}

.hot-news__wrap-text-second-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.hot-news__item-title {
  font-size: $secondarySizeFont;
  font-weight: bold;
}

.hot-news__item-text {
  font-size: 12px;
  margin-top: 20px;
}

.hot-news__news-item-prophecy,
.hot-news__news-item-spain {
  display: grid;
  grid-template-columns: 60% auto;
  .hot-news__img {
     background-image: url("../img/hot_news_img/post-1-img.png");
  }
  .hot-news__wrap-text {
    padding: 40px 20px;
  }
}

.hot-news__news-item-nebula,
.hot-news__news-item-prism {
  display: grid;
  grid-template-rows: 80% auto;
  .hot-news__img {
     background-image: url("../img/hot_news_img/post-2-img.png");
  }
}

.hot-news__news-item-middle {
  display: grid;
  grid-template-rows: 60% auto;
  .hot-news__img-tenerife {
    background-image: url("../img/hot_news_img/post-3-img.png");
  }
  .hot-news__img-britain {
    background-image: url("../img/hot_news_img/post-4-img.png");
  }
  .hot-news__img-egypt {
    background-image: url("../img/hot_news_img/post-5-img.png");
  }
  .hot-news__img-maldives {
    background-image: url("../img/hot_news_img/post-6-img.png");
  }
  .hot-news__wrap-text {
    padding: 20px 25px;
  }
}

.hot-news__img-spain {
    background-image: url("../img/hot_news_img/post-8-img.png");
}

.hot-news__img-prism {
    background-image: url("../img/hot_news_img/post-7-img.png");
}

// Footer

.footer {
  background-color: #1d2124;
  .footer__content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px 0;
    span {
      font-size: 13px;
      color: $secondaryColor;
    }
  }
}
