@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans");
};

$fontFamily: Open Sans, sans-serif;
$secondarySizeFont: 18px;
$mainColor: #14b9d5;
$secondaryColor: #ffffff;
$iconMainSize: 30px;

* {
  font-family: $fontFamily;
  transition: all 0.5s;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  width: 1280px ;
  margin: 0 auto;
}

.titleFontSize {
  font-size: 27px;
}

.secondaryFontSize {
  font-size: 18px;
}

.header {
  background-color: #1d2124;
}

.header__header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  .header__logo {
    text-decoration: none;
    width: $iconMainSize;
    fill: $secondaryColor;
    .header__logo-img {
      height: 100%;
      color: $secondaryColor;
    }
    &:hover {
      fill: $mainColor;
    }
  }
  .header__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    color: $secondaryColor;
    padding: 25px;
    &:hover {
      color: $mainColor;
    }
  }
  .header__search-wrap{
    width: $iconMainSize;
  }
  .header__search-icon {
   fill: $secondaryColor;
    &:hover {
      cursor: pointer;
      fill: $mainColor;
    }
  }
}

// Title block

.main-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 390px;

  background-image: url("../img/wallpapers.jpg");
  background-size: cover;
  background-position: right bottom -65%;;
  background-attachment: fixed;

  position: relative;
  &:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
  }
}

.main-block__title {
  padding: 140px 0 40px;
  font-weight: 400;
  color: $secondaryColor;
  z-index: 2;
  text-transform: uppercase;
}

.main-block__buttons-wrap {
  display: flex;
  z-index: 2;
  color: $secondaryColor;
  font-weight: 400;
}

.main-block__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 170px;
  border-radius: 8px;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
    font-size: 20px;
  }
}

.button-subscribe {
  background-color: #89ca62;
  margin-right: 20px;
}

.button-articles {
  background-color: $mainColor;
}

// Popular post block

.popular-post {
  text-align: center;
  background-color: #f2f2f2;
  padding: 60px 0;
}

.popular-post__title {
  display: inline-block;
  margin-bottom: 55px;
  color: $mainColor;
  text-transform: uppercase;
}

.popular-post__collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  height: 800px;
  &:nth-child(1) {
    background-color: red;
      order: 1;
      margin-bottom: 30px;
  }
  &:nth-child(2) {
    order: 0;
  }
  &:nth-child(3) {
    order: 5;
    margin: 0 30px 30px 30px;
  }
  &:nth-child(4) {
    order: 4;
  }
  &:nth-child(5) {
    order: 6;
    margin-bottom: 30px;
  }
  &:nth-child(6) {
    order: 0;
  }
}

.popular-post__item {
  background-color: $secondaryColor;
}

.popular-post__collection:nth-child(1) popular-post__item {
  background-color: red;
}

.popular-post__subtitle {
  display: inline-block;
  padding: 20px;
}
